<ion-content [fullscreen]="true">
  <div class="header-image-wrapper">
    <img src="assets/header.png" alt="Header Image" class="header-image">
    <div class="header-text">
      <h6 class="title">Verifica tu identidad</h6>
    </div>
  </div>

  <div class="ion-padding">
    <form #validarTokenForm="ngForm" (ngSubmit)="validarToken($event)">
      <!-- Token -->
      <ion-item>
        <ion-label position="floating">Ingresa el token que se mandó a tu correo electrónico</ion-label>
        <ion-input 
          type="number" 
          [(ngModel)]="token" 
          name="token" 
          required
          #tokenInput="ngModel"
          [ngClass]="{ 'invalid-input': tokenInput.invalid && (tokenInput.touched || validarTokenForm.submitted) }">
        </ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="tokenInput.invalid && (tokenInput.touched || validarTokenForm.submitted)">
        <div *ngIf="tokenInput.errors?.['required']" class="error-message">El token es obligatorio.</div>
      </ion-text>
      
      <!-- Botón para enviar token -->
      <ion-button expand="block" type="submit" color="dark" [disabled]="validarTokenForm.invalid">
        Enviar Código
      </ion-button>
    </form>
    
    <!-- Link para iniciar sesión -->
    <div class="link-container ion-text-center">
      <ion-text>
        <a routerLink="/iniciar-sesion" class="login-link">¿Ya tienes una cuenta? Inicia sesión</a>
      </ion-text>
    </div>
  </div>
</ion-content>
