
  

  .badge {
    position: absolute;
    top: -7px;
    right: -8px;
    font-size: 0.5rem;
    border-radius: 50%;
    z-index: 1;
  }
  

  
.header-image {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}