.direccion-item {
    font-family: 'Nunito', sans-serif;
    padding: 10px;
    --ion-item-background: #f9f9f9; /* Fondo de las direcciones */
    margin-bottom: 10px;
    border-radius: 10px; /* Bordes redondeados */
  }
  
  .predeterminado-icon {
    font-size: 1.2rem;
  }
  
  .no-direcciones {
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
    text-align: center;
    margin-top: 20px;
    color: #555;
  }
  
  ion-buttons[slot="end"] {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  